{% set NOTIFY_ENABLED = (NOTIFY_ENABLED | string | lower) == "true" %}
{% set NOTIFY_METHOD = NOTIFY_METHOD|default("email") %}
{% set NOTIFY_USER = NOTIFY_USER|default("automator") %}
{% set NOTIFY_STATUS = NOTIFY_STATUS|default("incomplete") %}

{% if NOTIFY_ENABLED %}
notify:
  recipients:
    - to:
        method: {{ NOTIFY_METHOD }}
        user: {{ NOTIFY_USER }}
  criteria:
    status: {{ NOTIFY_STATUS }}
  verbosity: verbose
{% endif %}